@model IEnumerable<Knowledgebase>

@{
    ViewData["Title"] = "Home Page";
}
<!-- The Modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Knowledge base</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="cancelDelete()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Do you really want to delete this knowledge base? This process cannot be undone.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancelDelete()">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteKB()">Delete</button>
            </div>

        </div>
    </div>
</div>
@if (Model.Count() == 0)
{
    <p><strong>The system is busy right now, please try after some time.</strong></p>
}
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastChangedTimestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastPublishedTimestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HostName)
                </th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastChangedTimestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastPublishedTimestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HostName)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="confirmDeleteModal('@item.Id')">Deleet</button>
                    </td>
                </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="6">
                        <p>No knowledge bases to display.</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div id="loader"></div>


<script type="text/javascript">
    var requestUrl = "@ViewData["QnADeleteUrl"]";
    var subkey = "@ViewData["QnASubScriptionKey"]";
    var _kbid = "";

    function confirmDeleteModal(kbid) {
        _kbid = kbid;
        $("#deleteModal").modal('show');
    }
    function cancelDelete() {
        _kbid = "";
    }
    function displayLoader() {
        $('#loader').addClass("loader");
    }
    function hideLoader() {
        $('#loader').removeClass("loader");
    }
    function deleteKB() {
        if (_kbid !== "") {
            displayLoader();
            $.ajax({
                url: requestUrl + "/" + _kbid,
                beforeSend: function (xhrObj) {
                    // Request headers
                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", subkey);
                },
                type: "DELETE",

            })
                .done(function (response) {
                    toastr.success("The knowledge base has been deleted successfully!");
                    console.log(response);
                    hideLoader();
                    window.location.href = "/";
                })
                .fail(function (response) {
                    toastr.error(response.responseText, response.statusText);
                    hideLoader();
                });
        }
    }
</script>